.hero-sect {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(152, 113, 24, .85);
    }
    .hero-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
        top: 5rem;
        left: 17rem;
        color: #fff;
        .title {
            text-transform: uppercase;
            color: #f1f1f1;
        }
        .headings {
            h1 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 3.8rem;
                line-height: 3.6rem;
                padding-top: .5rem;
            }
        }
        .text {
            padding-top: 1rem;
            color: #f1f1f1;
        }
        .cta-buttons {
            display: flex;
            gap: .7rem;
            padding-top: 1rem;
            .cta-btn {
                padding: .7rem 2.5rem;
                font-size: 1.2rem;
                font-weight: 500;
                &.shop {
                    background-color: #C76847;
                    color: #fff;
                    &:hover {
                        background-color: #B86042;
                    }
                }
                &.info {
                    background-color: #ffffff;
                    color: #4b4b4b;
                    &:hover {
                        background-color: #f5f5f5;
                    }
                    i {
                        font-size: 1rem;
                        color: #808080;
                    }
                }
            }
        }
    }
    .hero-image {
        width: 100%;
        object-fit: cover;
        height: 70vh;
        max-height: 80vh;
    }
}